

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica,Arial,  sans-serif;
    line-height: 1.7rem;
   
}
html{
    font-size:16px;   
    min-width: 1480px;
}
.img1{
    max-width:10.5rem;
    max-height:9.5rem;
    margin-left: 2rem;
    padding-right:1rem;
    float: left;
    
}
.img2{
    max-width:42rem;
    max-height:28rem;
    margin-right:1rem;
    margin-top:1rem;
    float: left;
}
div{
    font-size:16px;
}
h2 a,.ina3 a{
    color:black;
}
h2>span {
    color: #949494;
    font-size:16px;
}
h3{
    margin: 0.9rem;
}
a:hover{
    color:rgb(0, 0, 255);
}
a{
   text-decoration: none;
    color: #666666;
    text-align: center;
}
.index{
    width: 100%;
    min-height: 35rem;
    background-color: #fff;
    color:black;
    margin: 0;
    padding: 0;
    float:left;
  
}
.top{
    width:100%;
    min-height:6rem;
    background-color: rgb(223, 223, 223);
    margin: 0;
    padding:0px 7%;
    padding-top:1rem;
    float:left;
}
.dh{
    width: 100%;
    min-height:2rem;
    line-height: 2rem;
    background-color: rgb(54, 54, 54);
    padding-left: 7%;
    float:left;
}
.dh span{
    margin-right: 5rem;
}
.dh a{
    color:white;
}


.mn{
    width: 100%;
    min-height: 35rem;
    padding:0px 7%;
    float: left;
    line-height: 3rem;
    background-color: rgb(223, 223, 223);
    border:0;
}
    
.in1{
    float:left;
    width: 100%;
    min-height: 34.5rem;
    padding:0px 2%;
    margin-bottom:0.5rem;
    background-color: white;
    padding-bottom: 1rem;
}
.in1 i,.in2 i{
    padding-left:4rem;
}
.ina{
    float: left;
    border:0;
    width:100%;
    min-height: 6rem;
}
.ina1{
    border:0;
    width:33rem;
    float: left;
}
.ina2{
    border:0;
    width:13.5rem;
    float: left;
    padding-left: 2rem;
}
.ina3{
    border:0;
    width:19rem;
    float: left;
    padding-top:6rem;
    padding-left: 1rem;
    
}
.ina4{
    border:0;
    width:40rem;
    float: left;
    padding:0;
}
#reference p{
    padding-left:3rem;
}
#reference span{
    padding:0px 1rem;
}
#reference i{
    padding-left:1rem;
}
ul{
    list-style-type:none;
    margin-top: 0px;
}
p{
    margin:0;
}
#source-code p{
    margin:0;
    padding-right: 2rem;
}
.ina p{
    margin-bottom:0px;
    margin-top:0.5rem;
}
@media screen and  ( min-width:5001px) and ( max-width:5500px) {
    html{width: 100%;
    }  
    .img2{
        width: 2400px;
        height: 1600px;
    }
}
@media screen and  ( min-width:2801px) and ( max-width:5000px) {
    html{width: 100%;}  
    .img2{
        width: 1800px;
        height: 1200px;
    }
}
@media screen and  ( min-width:2101px) and ( max-width:2800px) {
    html{width: 100%;     }  
    .img2{
        width: 1200px;
        height: 800px;
    }
}
@media screen and  ( min-width:1901px) and ( max-width:2100px) {
    html{width: 100%;}  
    .img2{
        width: 900px;
        height: 600px;
    }
}
@media screen and  ( min-width:1750px) and ( max-width:1900px) {
    html{width: 100%;}  
    .img2{
        width: 810px;
        height: 540px;
    }
}
@media screen and  ( min-width:1400px) and ( max-width:1749px) {
    html{width: 100%; }  
}
